/* Spinner */
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #C37B89;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Spinner ends */

body{
  background-color: #fff3ec;
  margin: 0;
  height: 100%;
}
html{
  height: 100%;

}




.notes{
  display: none;
  height: 100%;
}

.loading{
  position: absolute;
  top: calc((100vh - 80px)/2);
  left: calc((100vw - 80px)/2);
}

.toggle-btn{
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 8px;
  position: relative;
  display: inline-block;
  border: 0 solid transparent;
}

.toggle-active{
  background-color: #A2D2FF;
  filter: opacity(80%);
}

.btn-text{
  font-family: "Montserrat";
  font-size: 20px;
  display: inline-block;
  position: absolute;
  top: 3.5px;
  left: 8.328px;
  margin: 0;
  filter: opacity(80%);
}
.btn-text-active{
  color: #14279B;
}

.spacer{
  width: 20px;
}
.note-content{
  font-size: 20px;
  font-family: "Montserrat";
  max-width: calc(100vw - 600px);
  max-height: calc(100vh - 100px);
  overflow-x: hidden;
}
.rich-text-editor{
  position: absolute;
  top: 30px;
  display: inline-block;

}
.sidebar{
  margin: 0;
  margin-right: 30px;
  display: inline-block;
  background-color: green;
  width: 500px;
  height:100%;
  /* Fix height */
  position: relative;
  left: 0;
  top: 0;
  resize: vertical;
}

.logo-title{
  color: white;
  font-family: "Andada Pro";
  margin: 20px 10px 10px 25px;
}
.note-selector{
  cursor: pointer;
  color: darkgrey;
  font-family: "Montserrat";
  margin: 40px 25px;
}

.selected{
  color:white;
  text-shadow: 1px 0.5px grey;
}

.second-row{
  display: block;
}

.save-btn, .del-btn{
  margin: 20px 10px;
  margin-left: 0;
}

.confirm-btn{
  width: 110px;
}

.new-title{
  margin-left: 25px;
  height: 30px;
  border-radius: 2px;
  border: 0 solid transparent;
  font-family: "Montserrat";
}


.new-btn{
  height: 32px;
  margin: 0 5px;
  border-radius: 2px;
  border: 0 solid transparent;
  font-family: "Montserrat";
}

.logout-btn{
  height: 20px;
  margin: 0 25px 60px 25px;
  border-radius: 2px;
  border: 0 solid transparent;
  font-family: "Montserrat";
}
