body{
  background-color: #fff3ec;
  height: 100%;
}

.login-bg{
  position: absolute;
  top: 17.6%;
  left: calc((100vw - 310px)/2);
  height: 400px;
  width: 310px;
  background-color: #BFD8B8;
  text-align: center;
  border: 1px solid black;
}

.login-h1{
  padding: 21px 30px 0 30px;
  margin-bottom: 0;
  font-size: 2.1rem;
  font-family: "Bona Nova", serif;
  font-weight: 400;
}

.login-reference{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.05rem;
  margin-top: 0.9rem;
  margin-bottom: 0.4rem;
}

.login-app{
  font-family: "Alegreya Sans", serif;
  font-weight: 700;
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

input.login{
  height: 30px;
  margin-bottom: 6.5%;
  width: 210px;
  font-family: "Montserrat";
}

button.login{
  display: inline-block;
  height: 30px;
  width: 218px;
  font-family: "Montserrat";
  background-color: #79B4B7;
  border: 1px solid black;
}

button.login:hover{
  filter: grayscale(30%);
}
button.login:active{
  filter: grayscale(75%);
  border: 2px solid grey;
}

.login-register{
  position: absolute;
  top: calc(17.6% + 400px + 30px);
  left: calc((100vw - 310px)/2);
  height: 70px;
  width: 310px;
  background-color: #BFD8B8;
  text-align: center;
  border: 1px solid black;
}

.register-content{
  margin-top: calc((70px - 50px) / 2);
}
.register-label{
  display: inline-block;
  font-family: "Alegreya Sans";
  font-size: 1rem;
}
.register-btn{
  font-family: "Montserrat";
  border: 1px solid black;
  background-color: #79B4B7;
}
.register-btn:hover{
  opacity: 0.9;
}
.register-btn:active{
  filter: grayscale(75%);
  border: 1px solid grey;
}

.alert{
  display: none;
}
